*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;

}
body{
    font-family: 'IBM Plex Serif';
    font-style: normal;
}
header{
    background-color: #DEEEFC;
}

 

.nbg-button{
    border: 1px solid #307cec;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}
.btn-radius{
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
}

.carousel-caption{
    color: #000;
    width: 50%;
    margin-bottom: 15%;
  
}
.carousel-caption h1{
    width: 450px;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;  
    display: flex;
    align-items: center;
    text-align: left;
    opacity: 5;
    color: rgba(6, 18, 36, 0.9);

}
.sp1, .sp2, .sp3 {
    color: #307cec;
    font-weight: bold;
}
.carousel-caption h3{
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;    
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 0.04em;
    
    color: rgba(6, 18, 36, 0.9);
}
.carousel-caption h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: rgba(6, 18, 36, 0.9);
}
.carousel-caption p{
    width: 500px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 0.04em;    
    color: rgba(6, 18, 36, 0.9);
}
.carousel-caption button{
    display: flex;
    align-items: center;
    text-align: left;
}
.xxxx{
    margin-top: 12px;
    margin-left: 57px;
}
.info{
    border: 1px solid red;
    margin: 50px 0px;

}
.mgt{
    margin-top: 30px;
}
.mgb{
    margin-bottom: 40px;
}

.bg-green{
    background: #D8F1F0;
}
.head-text{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: rgba(6, 18, 36, 0.9);
}
h5{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: rgba(6, 18, 36, 0.9);
}
.data p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 18, 36, 0.9);
}
.bg-blue{
    background: #DEEEFC;
    border-radius: 4px;
}
.contact-number h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;  
    color: rgba(6, 18, 36, 0.9);
}
.contact-number h4{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;       
    color: rgba(6, 18, 36, 0.9);
}
.contact-number h6{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;    
    text-align: center;
    
    color: rgba(6, 18, 36, 0.9);


}
.contact-number{
    width: 100%;
    height: 280px;
    padding: 30px 0px;
    text-align: center;
    align-items: center;
}
.contact-number p{
    width: 478px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(6, 18, 36, 0.9);
    display: inline flow-root list-item;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}
.interest{
    width: 100%;
    height: 700px;
}
.interest .card {
    width: 354px;
    height: 375;

}
.pd-0 .card-body{
    padding: 20px 0px;
}
.interest .card img{
    width: 354px;
    height: 375px;
    background: transparent;

}
.video{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;    
}
.video img{
    width: 100%;
    background: rgba(16, 100, 229, 0.2);
    mix-blend-mode: multiply;
    border-radius: 4px;
    margin-bottom: 10px;
}
.list li{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.frm-btn{
    margin-top: 10px !important;
}
.form input{    
    width: 400px;
    height: 50px;
    padding: 10px 17px;
    border-radius: 37px;
    border-color: #1064E5;
    margin-bottom: 5px;
}
.form button{
    width: 182px;
    height: 50px;
    margin-left: 15px;
    padding: 10px 17px;
    border-radius: 41px;
    border-color: #1064E5;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.m-160{
    margin: 0px 158px;
}
.card-body{
    padding: 1rem 0rem !important;
}
.breadcrumb a {
    margin-left: 0px !important;
} 
.accordion-item {
    border: 0px !important;
}   
.accordion-button::after {
    margin-left:initial;
}
.accordion-button {
    display: flex;
    justify-content: center !important;
    background-color: transparent !important;
}
.gap-20{
    gap: 20px;
}
.yyy{
    margin-top: 0px !important;
    margin-bottom: 10px;
}
.d-block {
    object-fit: contain !important;
  }
.dropdown-menu[data-bs-popper] {
    margin-left: -3px;
  }

.dropdown-item {
    padding: 0 !important;
  }
.left{
      align-items: left;
}
.drop-down02{
      position: relative;
}
.drop-down02 .sub-menu02{
      position: absolute !important;
      left: 100%;
      top: 0;
}

.c-mgt{
      margin-top: 20px;
}
.slider{
    align-items: center;
}
.slider img{
    width: 266px;
    margin-top: 20px;
}
.writing{
    width: 22rem;
}
.slider img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 8em;
    overflow: hidden;
  }
  
  .slider {
    background-color: white;
    padding: 5em 1em;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }
  .floatRight{float:right;margin-left:20px}
      
  .floatRightClear{float:right;clear:right;margin-left:20px
}
  /*multi according  */ 
  .nav-wrap {
	width: 100%;
	margin: 1em auto 0;
	
}
@media (min-width: 992px) {
    .nav-wrap{
        width: 50%;
}
}

a{
    text-decoration: none;
}
[hidden] {
  display: none;
  visibility: hidden;
}
.acnav{
    margin-left: 135px;
}
.has-children label{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: rgba(6, 18, 36, 0.9);
}
.nav-wrap h1{
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */
    
    text-align: center;
    
    color: rgba(6, 18, 36, 0.9);
}

.acnav {
  width: 100%;
}
.has-children > .acnav__label::before {
    content: "+";
    color:#1064E5;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 1em;
    transition: transform 4.3s;
  }
  .acnav__link,
  .acnav__label {
    display: block;
    font-size: 1rem;
    padding: 1em;
    margin: 0;
    cursor: pointer;
    color: #000;
}
  .acnav__link,
  .acnav__label:focus,
  .acnav__link,
  .acnav__label:hover {
      color: darken(#fcfcfc, 10%);
    }

  .acnav__link--level2,
  .acnav__label--level2 {
    padding-left: 3em;
  }

  /*  third level items */
  .acnav__link--level3,
  .acnav__label--level3 {
    padding-left: 5em;
  }


  /* fourth level items */
  .acnav__link--level4,
  .acnav__label--level4 {
    padding-left: 7em;
  }

  /* hide nested lists */
  .acnav__list--level2,
  .acnav__list--level3,
  .acnav__list--level4 {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
  }
   
  /* reset the height when checkbox is checked */
  .acnav__checkbox:checked ~ .acnav__list {
    max-height: 1000px;
  }

  /*  multi according */
  
  
@media screen and (min-width:1000px) and (max-width: 1100px){
    /* .m-160{
        margin: 0px;
    } */
}

  @media screen and (min-width:800px) and (max-width: 1000px) {
    .header-menu {
      margin: 0px 50px;
    }
    .nav-ml {
      margin-left: 50px;
    } 
  }
  
  @media screen and (max-width: 580px) {
    .header-menu {
      margin: 0px 0px;
    }
    .nav-ml {
      margin-left: 0px;
    }
}
@media screen and (max-width: 400px){
    .carousel-caption{
        margin-bottom: 4% !important;
      
    }
  }
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .carousel-caption{
        color: #000;
        width: 50%;
        margin-bottom: 3%;
      
    }
    .carousel-caption h1{
        width: 300px;
        font-size: 36px;
        line-height: 46px;  
    
    }
    .sp1, .sp2, .sp3 {
        color: #307cec;
        font-weight: bold;
    }
    .carousel-caption h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 130%; 
    }
    .carousel-caption h4{
        font-size: 24px;
        line-height: 130%;
    }
    .carousel-caption p{
        width: 350px;
        font-size: 16px;
        line-height: 130%;
    }
    .carousel-caption button{
        display: flex;
        align-items: center;
        text-align: left;
    }
    .c-mgt{
        margin-top: 0px;
    }
    .contact-number h1{
        font-size: 36px;
        line-height: 48px;
    }
    .contact-number h4{
        font-size: 36px;
        line-height: 48px;      
    }
    .contact-number p{
        width: 450px;
        font-size: 18px;
        line-height: 22px;
        display: inline flow-root list-item;
    }
    .slider{
        align-items: center;
    }
    .slider img{
        width: 190px;
        margin-top: 30px;
    }
    .m-160{
        margin: 0px 0px;
    }
    .small-screen-none{
        display: none;
    }
    
}


@media screen and (max-width: 768px) {
    .carousel-caption{
        color: #000;
        width: 50%;
        margin-bottom: 13%;
      
    }
    .carousel-caption h1{
        width: 174px;
        font-size: 10px;
        line-height: 20px;
    
    }
    .sp1, .sp2, .sp3 {
        width: 9px;
        color: #307cec;
        font-weight: bold;
    }
    .carousel-caption h3{

        font-size: 10px;
    }
    .carousel-caption h4{
        font-size: 10px;
        line-height: 9px;
    }
    .carousel-caption p{
        width: 180px;
        font-size: 12px;
    }
    .c-mgt{
        margin-top: 0px;
    }
    .carousel-caption button{
        width: 109px;
        height: 30px;
    }
    .contact-number h1{
        font-size: 20px;
        line-height: 22px;
    }
    .contact-number h4{
        font-size: 20px;
        line-height: 22px;    
    }
    .contact-number h6{
        font-size: 14px;
        line-height: 147%;       
    }
    .contact-number p{
        width: 270px;
        font-size: 14px;
        line-height: 130%;
        display: inline flow-root list-item;
    }

    .xxxx {
        margin-top: 12px;
        margin-left: 0px;
      }
    .frm-btn{
        margin-top: 20px !important;
    }
    .form input{    
        width: 240px;
        height: 38px;
        padding: 6px 17px;
        border-radius: 12px;
        margin-bottom: 5px;
    }
    .form button{
        width: 172px;
        height: 38px;
        margin-left: 10px;
        padding: 8px 17px; 
        margin-top: 0px;  
    }
    .carousel-caption p{
        display: none;
    }
    .m-160{
        margin: 0px 0px;
    }
    .acnav {
        margin-left: 0px;
    }
    .small-screen-none{
        display: none;
    }
}

